<component name="libraryTable">
  <library name="logback-classic-1.2.3">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/server/logback-classic-1.2.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/server/logback-core-1.2.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/server/postgresql-42.2.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/server/slf4j-api-1.7.30.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>